*{padding: 0; margin: 0;}
.container{height: 100vh;
            width: 100vw;
            color:#444;
            background:#D2E0FB;
            text-align: center}
.love,.yes, .no{
    padding-top: 25%;
}
h2{font-size: 72px;margin-bottom: 30px;}
.love span{color:#FFA1F5;}
.love a{text-decoration: none;
    background:#eee;
    padding: 5px;
    margin: 5px 10px;
    border:3px solid #ddd;
    border-radius:10px;
}
#no{color:red;}
#yes{color:green;}